body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar-left {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-grow: 1;
}

.navbar-left ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

.navbar-left ul li {
    display: inline;
}

.navbar-left ul li a {
    color: #555;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-left ul li a:hover {
    color: #50f5f2;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.search-box {
    position: relative;
    width: 200px;
    transition: border 0.1s ease, box-shadow 0.1s ease;
}

.search-input {
    width: 100%;
    padding: 8px 30px 8px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    transition: border 0.1s ease, box-shadow 0.1s ease;
}

.search-box:hover .search-input,
.search-input:hover {
    border-color: #50f5f2;
    box-shadow: 0 0 5px #50f5f2;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
}

.notification-icon,
.phone-icon,
.dots-icon {
    top: 5px;
    position: relative;
    font-size: 24px;
    color: #555;
    cursor: pointer;
    transition: color 0.1s ease;
}

.notification-icon:hover,
.phone-icon:hover,
.dots-icon:hover {
    color: #50f5f2;
}

.notification-container {
    position: relative;
}

.notification-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 200px;
}

.notification-dropdown .notification-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s ease;
}

.notification-dropdown .notification-btn:hover {
    background-image: linear-gradient(90deg, rgba(59, 223, 220, 1) 0%, rgba(140, 255, 239, 1) 50%, rgba(59, 223, 220, 1) 100%);
    color: #fff;
}

.logo-container {
    position: relative;
    top: 70px;
    left: 350px;
    z-index: 999;
}

.logo {
    width: 200px;
    height: 200px;
}

.healing-text {
    text-align: center;
    margin-top: -50px;
    margin-left: 200px;
}

.healing-text h2 {
    font-size: 40px;
    color: #50f5f2;
    font-weight: bold;
}

.doctor-details {
    margin-top: 100px;
    background-color: #effefd;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.doctor-image {
    max-height: 400px;
    object-fit: cover;
}

.doctor-details h1 {
    color: #555;
    margin-left: 35px;
    margin-bottom: 20px;
}

.doctor-details p,
.doctor-details strong {
    margin-left: 20px;
}

#appointmentsTable {
    margin-top: 30px;
}

#appointmentsTable th {
    background-color: #50f5f2;
    color: white;
}

#appointmentsTable tr:hover {
    background-color: #f0f0f0;
}

.btn-primary {
    background-color: #50f5f2;
    border-color: #50f5f2;
    color: #fff;
}

.btn-primary:hover {
    background-color: #3bc7c5;
    border-color: #3bc7c5;
}

.footer-container {
    background-color: #0aa5a1;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.footer-bottom p {
    font-size: 14px;
    margin: 0;
}